# Default ignored files
/../../../../../myapp/.idea/shelf/
/../../../../../myapp/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../myapp/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../myapp/.idea/dataSources/
/../../../../../myapp/.idea/dataSources.local.xml
